{% extends "base.html" %}
{% block email_title %}Você recebeu um convite!{% endblock %}
{% block content %}
    <p>Olá {{ guest_name }},</p>
    <p>
        Você recebeu um convite para participar do evento {{ event_name }}, que estará acontecendo no dia
        {{ event_date }}, às {{ event_hour }}.
    </p>

    <p style="text-align: center">
        Solicitamos que confirme a sua presença clicando no link abaixo:
        <br>
        <a class="btn btn-primary" href="{{ confirm_link }}" target="_blank" style="
                                                               margin: 0 auto;
                                                               display: inline-block;
                                                               color: #ffffff;
                                                               background-color: #007bff;
                                                               border: solid 1px #007bff;
                                                               border-radius: 2px;
                                                               box-sizing: border-box;
                                                               cursor: pointer;
                                                               text-decoration: none;
                                                               font-size: 14px;
                                                               font-weight: bold;
                                                               padding: 12px 25px;
                                                               border-color: #007bff;
                                                               margin: 25px auto 0;
                                                               display: block;
                                                               text-align: center;
                                                               width: 200px;
                                                               ">Confirmar Presença</a>
    </p>
{% endblock %}
