{% extends "base.html" %}
{% block email_title %}Seja bem vindo!{% endblock %}
{% block content %}
    <p>Olá <b>{{ guest_email }}</b>,</p>
    <p>
        Seja muito bem vindo ao sistema <i>Stranger Parties</i>. Acabamos de realizar o seu cadastro e em breve você
        receberá convites na sua caixa de e-mail para participar dos mais variados tipode evento. Para participar é
        só clicar no link e confirmar a sua participação.
    </p>
    <p>
        Quaisquer dúvidas, por favor, entre em contato conosco.
    </p>
{% endblock %}
