<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invite</title>
</head>
<body>
    <p>Olá {{ guest_email }},</p>
    <p>
        Seu usuário foi cadastrado no sistema Stranger Parties. Acesse <b>{{ api_doc_url }}</b> para visualizar a
        documentação <br>da nossa <i>API REST</i>, ou acesse a url <b>{{ login_url }}</b> para se autenticar em nosso
        sistema e ter acesso a todos os recursos.
    </p>
    <p>
        Quaisquer dúvidas, por favor, entre em contato conosco.
    </p>
<br>
<br>
<b>Stranger Parties</b><br>
Direção
</body>
</html>
